.body{
    width: 100%;
}

#menu li{
    display: inline;
    padding: 40px;
}

#menu li a{
    text-decoration: none;
    color: rgb(92, 42, 1);
}

#menu li a:hover{
  
    color: rgb(22, 134, 18);
}

.center{
    text-align: center;
}
p{
    color: rgb(100, 47, 8);
    text-align: start;

}
.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
}



.collor {
    color: rgb(4, 39, 104);
}
.p-10{
    padding: 20px;
}
.br10{
border-radius: 60%;
}


/*
body{
    width: 100%;
}
.center{
    text-align: center;
}
.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
}
*/